.example-card {
    width: 20%;
    /* height: 232px; */
    border-radius: 4.8px;
    box-shadow: 0 10px 21px 0 rgba(93, 100, 141, 0.08);
    background-color: #ffffff;
    text-align: center;
  }
  
  .mat-card-image{
      width: 50%;
  }

  .Main-Benefits {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 19.4px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.03;
    letter-spacing: normal;
    text-align: center;
    color: #4a4d4e;
    padding-bottom: 15px;
  }

  .cardcontainer{
      /* padding: 70px; */
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      flex-wrap: wrap;
  }

  mat-grid-tile{
    background-color: #ffffff;
  }

  mat-grid-list{
    display: flex;
    justify-content: center;
  }