
<div flex fxLayout='row wrap'  fxLayout.lt-sm="column" class="cardcontainer">
  <mat-card fxFlex.xs="100%" fxFlex.sm="35%" fxFlex.md="20%" fxFlex.lg="23%" class="example-card" >
    <img mat-card-image src="../assets/images/main1.svg" >
    <mat-card-content class="Main-Benefits">
      <p >
        Main Benefits
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex.xs="100%" fxFlex.sm="35%" fxFlex.md="20%" fxFlex.lg="23%" class="example-card" >
    <img mat-card-image src="../assets/images/img2.svg" >
    <mat-card-content class="Main-Benefits">
      <p >
        Offers
      </p>
    </mat-card-content>
  </mat-card>
  
  <mat-card fxFlex.xs="100%" fxFlex.sm="35%" fxFlex.md="20%" fxFlex.lg="23%" class="example-card">
    <img mat-card-image src="../assets/images/img3.svg" >
    <mat-card-content class="Main-Benefits">
      <p >
        FAQs
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex.xs="100%" fxFlex.sm="35%" fxFlex.md="20%" fxFlex.lg="23%" class="example-card">
    <img mat-card-image src="../assets/images/img4.svg" >
    <mat-card-content class="Main-Benefits">
      <p >
        Suggest Benefit
      </p>
    </mat-card-content>
  </mat-card>

  <!-- <mat-card fxFlex.xs="100%" fxFlex.sm="35%" fxFlex.gt-md="20%" class="example-card">
    <img mat-card-image src="../assets/images/img4.png" >
    <mat-card-content class="Main-Benefits">
      <p >
        Suggest Benefit
      </p>
    </mat-card-content>
  </mat-card> -->

</div>
<!-- 
<mat-grid-list cols = "3" rowHeight = "100px" gutterSize="30px">
  <mat-grid-tile >
    <mat-card class="example-card">
      <img mat-card-image src="../assets/images/main.png" >
      <mat-card-content class="Main-Benefits">
        <p >
          Main Benefits
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile >2 </mat-grid-tile>
  <mat-grid-tile  >3 </mat-grid-tile>
  <mat-grid-tile >4</mat-grid-tile>
</mat-grid-list> -->